#btPatientList {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-border-radius: 5px;
    -webkit-transition-duration: 0.4s;
}

#btPatientList:hover {
    -fx-background-color: white; /* Green */
    -fx-text-fill: black;
    -fx-border-color: #4CAF50;
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
}

#btPatientList:pressed {
    -fx-background-color: #e7e7e7;
}

#btIncomeList {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-border-radius: 5px;
}

#btIncomeList:hover {
    -fx-background-color: white; /* Green */
    -fx-text-fill: black;
    -fx-border-color: #4CAF50;
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
}

#btIncomeList:pressed {
    -fx-background-color: #e7e7e7;
}

#btLogout {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-border-radius: 5px;
}

#btLogout:hover {
    -fx-background-color: white; /* Green */
    -fx-text-fill: black;
    -fx-border-color: #4CAF50;
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
}

#btLogout:pressed {
    -fx-background-color: #e7e7e7;
}
